{% load static %}
<html lang="ru">
<head>
    <title>Лучший кликер на планете</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</head>

<body>
    <header>
        <h1 class="greeting">Привет, {{ user.username }}!</h1>
        <form action="{% url 'logout' %}" target="_blank">
            <input type="image" src="/static/images/jdm-exit.png" width="190" alt="Выход">
        </form>
    </header>

    <main>
        <div class="achievements" id="achievements">
            <h2 class="title">Достижения:</h2>
            <div class="achievements-holder" id="achievements-holder">
                {% for achievement in achievements %}
                    <button class="achievement" id="achievement_{{achievement.id}}">
                         <p><span id="achievement_title">{{achievement.title}}</span></p>
                         <p><span id="achievement_description">{{achievement.description}}</span></p>
                    </button>
                {% endfor %}
            </div>
        </div>

        <div class="middle">
            <div class="coins"><h3 id='coins'>{{core.coins}}</h3></div>
            <div class="container">
                <input type="image" src="/static/images/jdm1.png" width="400" onclick="call_click()" id="click">
                <div class="stats">
                    <p><span id="level" style="font-size: 25; color: red">{{ core.level }}</span> lvl</p>
                    <p>Лошадиные силы: <span id="click_power" style="font-size: 25; color: red">{{ core.click_power }}</span> HP</p>
                    <p>Крутящий момент: <span id="auto_click_power" style="font-size: 25; color: red">{{ core.auto_click_power }}</span> NM</p>
                </div>
            </div>
        </div>

        <div class="boosts" id="boosts">
            <h2 class="title">Бусты:</h2>
            <div class="boosts-holder" id="boosts-holder">
                {% for boost in boosts %}
                    <button class="boost_{{boost.type}}" id="boost_{{boost.id}}" onclick="buy_boost({{boost.id}})">
                        <p>lvl: <span id="boost_level">{{boost.level}}</span></p>
                        <p>+<span id="boost_power">{{boost.power}}</span></p>
                        <p><span id="boost_price">{{boost.price}}</span></p>
                    </button>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>