{% load static %}
<html lang="en">
<head>
    <title>Регистрация в лучшем кликере</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <main>
        <h1>Регистрация</h1>
        {% if form.errors %}
            <p>{{form.errors}}</p>
        {% endif %}
        <form action="{% url 'register' %}" method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
        <a href="{% url 'login' %}">Зарегистрирован?</a>
    </main>
</body>
</html>